<!DOCTYPE html>
<html>
    <head>
        <title>Black Library Background</title>
        <!--load style sheet from static folder-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Black Library Background</h1>
    <h2>History</h2>

        <p>The Black Library which was more appropriately known as Chorn Loith during the War of Separations
            was both a temple to Terasu the god of darkness, fear and lies and an intelligence operation hub 
            for Ghuzalterok forces. In it eneimes were questioned ruthlessly and the keepers of the temple
            grounds often beseached Terasu for visions aiding the Ghuzalterok in the war. Additionally, 
            within the vault is held Terasu's Rahaslicon a power divine artifact of unholy power which is
            watched over by Xundath a powerful shadow demon. At the end of the war great quakes were felt
            across the plain leading to cave ins traping those who lived in the temple under ground where
            they eventually starved, or killed one another.
        </p>

    <h2>Current Events</h2>
        
        <p>In the current day The Black Library has been unearthed during a mining operation.
            Nearly all of the miners at the location were driven mad by the weapon hidden in the vault
            within the ruin. Few adventuring parties have been sent to investigate but none have returned.
            All who enter the place are succumbed to dark magic which will corrupt their mind and drive
            them mad.
        </p>
        <!-- The "Overview" link will take the user to the index page -->
        <p>Return to <a href="../">Overview</a>.</p>
</body>
</html> 