<!DOCTYPE html>
<html>
    <head>
        <title>Chorn Loith Study</title>
        <!--load style sheet from static folder-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Chorn Loith Study</h1>

    <p>
    Here you will find the Chorn Loith study battle map, feel free to use it when running
    the dungeon. The players can find various rare old books on its shelves and other items
    that the scribes would have used.
    </p>

    <h2>Chorn Loith Study Battle Map</h2>

    <!--loads chorn loith map from static folder-->
    <img src="../static/chorn_loith_1.jpg">
    
        
        <!-- the "Overview" link will take the user to the index page -->
        <!--the "Maps" link will take the user to the map table page-->
        <p>Return to <a href="../">Overview</a>.</p>
        <p>Return to <a href="../map_table">Maps</a></p>
</body>
</html> 