<!DOCTYPE html>
<html>
    <head>
        <title>Chorn Loith Augery</title>
        <!--load style sheet from static folder-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Chorn Loith Augery</h1>

    <p>
    Below you will find the battle map for the Chorn Loith Augery, no combat is intended to happen
    in this chamber but if the players enter the center of the room with out providing an offering
    then they will be attacked by a shadow demon. The murals that line the walls will over the players
    many obscure and horrific visions.
    </p>

    <h2>Chorn Loith Augery Battle Map</h2>

        <!--load chorn loith map from static folder-->
        <img src="../static/chorn_loith_2.jpg">
    
        
        <!-- the "Overview" link will take the user to the index page -->
        <!--the "Maps" link will take the user back to the map table page-->
        <p>Return to <a href="../">Overview</a>.</p>
        <p>Return to <a href="../map_table">Maps</a></p>
</body>
</html> 