<!DOCTYPE html>
<html>
    <head>
        <title>Chorn Loith Vault</title>
        <!--load style sheet from static folder-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Chorn Loith Vault</h1>

    <p>
    The map below represents the final chamber in the Chorn Loith dungeon, they party must make 
    an offering in the two wells in the room in order to open the vault at the back of the room.
    However, once doing so combat with Xundath "The Keeper Of Words" should start.
    </p>

    <h2>Chorn Loith Vault Battle Map</h2>

        <!--loads the chorn loith map image from static folder-->
        <img src="../static/chorn_loith_3.jpg">
    
        
        <!-- The "Overview" link will take the user to the index page -->
        <!-- the "Maps" link will take the user to the maps table page -->
        <p>Return to <a href="../">Overview</a>.</p>
        <p>Return to <a href="../map_table">Maps</a></p>
</body>
</html> 