<!DOCTYPE html>
<html>
    <head>
        <title>Black Library Encounters</title>
        <!-- load style sheet from static folder -->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Combat Encoutners</h1>
    <p>The following encounters should be presented to the players as they progress through
        the dungeon.
    </p>
    <ol>
        <li>4 Shadows, 1 Specter - Difficulty medium</li>
        <li>1 Nothic, 2 Augers - Difficulty easy</li>
        <li>5 Mad Miners, 1 Shadow Demon - Difficulty Hard</li>
        <li>Xundath "Keeper of Words", 4 Shadows, 2 Augers - Difficulty Deadly</li>
    </ol>
<h3>Important Resources</h3>
    <p>Darkness and low light are big challanges for the party during this adventure,
        be sure to check out the additonal resources below to assist yourself in running
        the combats.
    </p>
    <!-- the following links will take the user to various helpful websites-->
    <ul>
        <li>Light and Vision tables can be found 
            <a href="https://thinkdm.org/2020/06/27/vision-tables/">here.</a></li>
        <li>A handy DM screen can be found <a href="https://ceryliae.github.io/5edmscreen/">here.</a></li>
        <li>A items shop website can be found <a href="https://www.thievesguild.cc/shops/">here.</a></li>
    </ul>
    <!-- The "Overview" link will take the user to the index page -->
    <p>Return to <a href="../">Overview</a>.</p>
</body>
</html> 