<!DOCTYPE html>
<html>
    <head>
        <title>Black Library Adventure</title>
        <!-- load style sheet from static folder -->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
    <!-- Note that the date_time value below is passed to this html file from nitchgregory_lab7.py -->
    <p>For your convenience the current date and time is {{ date_time }}.</p>
<h1>"Chorn Loith" - The Black Library</h1>
    <h2>Overview</h2>
        <!-- The link below for "background" will take the user to the background page -->
        <p>This old center of intelligence for Ghuzalterok forces which now lies in ruins under the mountains
    North of the dwarven city of Halgarum holds a great evil artifact. See <a href="background">background</a>
    for more information. The party must enter through the mines that the dwarfs made and enter the ruin to 
    reach the artifact.
    <em>For parties of 4 - 5 level 6 characters</em> 
        </p>

    <h2>Discription</h2>
        
        <p>As the party enters they notice the darkness is opressive seemingly forcing their torches to flicker
    and wane. The stale air wafts out of the entrance to the ruins as they hear screams and movement within.
    The dark stone floors and black crystal slabs that line the walls provide a forboding that tickles the
    spine, almost as if one was being watched.
        </p>

<h3>Points of Intrest</h3>
    <ul>
        <li>Vault</li>
        <li>Augery</li>
        <li>Inner Library</li>
        <li>Ritual Chamber</li>
    </ul>

    <!-- the link here will take the user to the map table page -->
    <p>Maps for registered users can be found <a href="map_table">here.</a></p>
    <!-- The link for "Encounters" will take the user to the encounters page -->
    <p>Each combat encoutner for these rooms can be found in <a href="encounters">Encounters</a>.</p>

<h3>Login</h4>
    <!-- the links below will take the user to the login, logout, and register pages -->
    <p>Members can proceed to login <a href="login">here.</a></p>
    <p>and logout <a href="logout"> here</a></p>
    <p>Members can also update their password <a href="pass_update">here.</a></p>
    <p>Not a member? Register <a href="register">here.</a></p>
</body>
</html> 