<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <!-- load style sheet from static folder -->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>
<h1>Astra and Chorn Loith Maps</h1>

    <p>
    Below you will find a table containing links to various maps of the Chorn Loith adventure. Additionally, 
    a map of the Astran Realm has been included so that if you like this setting you have all the tools you need
    to make your own adventures.
    </p>

    <!-- set up table with border and headers -->
    <table border="1">
        <caption>Available Maps</caption>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
        <!-- fill the other table rows with the following -->
        <tr>
            <td>Astran Realm</td>
            <td>world map</td>
            <!-- clicking the astra map link will take the user to the astra map page -->
            <td><a href="../astra_map">Astra Map</a></td>
        </tr>
        <tr>
            <td>Chorn Loith Study</td>
            <td>battle map</td>
            <!-- clicking the chorn loith study map link will take the user to the study map page -->
            <td><a href="../chorn_loith_study">Study Map</a></td>
        </tr>
        <tr>
            <td>Chorn Loith Augery</td>
            <td>battle map</td>
            <!-- clicking the chorn loith augery map link take the user to the augery map page -->
            <td><a href="../chorn_loith_augery">Augery Map</a></td>
        </tr>
        <tr>
            <td>Chorn Loith Vault</td>
            <td>battle map</td>
            <!-- clicking the chorn loith vault map link will take the user to the vault map page -->
            <td><a href="../chorn_loith_vault">Vault Map</a></td>
        </tr>
    </table>

        <!-- The "Overview" link will take the user to the index page -->
        <p>Return to <a href="../">Overview</a>.</p>
</body>
</html> 